Establish Connection

In [2]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="", # use your own
                            )
print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon")
except:
    cursor.execute("drop database little_lemon")
    cursor.execute("CREATE DATABASE little_lemon")
print("The database little_lemon is created.\n")    
    
# Set little_lemon database for use 
cursor.execute("USE little_lemon")
print("The database little_lemon is set for use.\n")

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-py2.py3-none-any.whl (581 kB)
     |████████████████████████████████| 581 kB 51.8 MB/s
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     |████████████████████████████████| 409 kB 122.3 MB/s
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12
Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database little_lemon is created.

The database little_lemon is set for use.

Create MenuItems Table and Insert Records

In [3]:
# The SQL query for the MenuItems table is:
create_menuitems_table = """
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitems_table)
print("MenuItems table is created.\n")

# *******************************************************#
# Insert query to populate "MenuItems" table:
# *******************************************************#
insert_menuitems = """
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database
connection.commit()

MenuItems table is created.

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

Create Menus Table and Insert Records

In [4]:
# The SQL query for the Menus table is:
create_menus_table = """
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

# Create Menus table
cursor.execute(create_menus_table)
print("Menu table is created.\n")


# *******************************************************#
# Insert query to populate "Menus" table:
# *******************************************************#
insert_menus = """
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Menu table is created.

Inserting data in Menus table.
Total number of rows in Menu table: 12

Create Bookings Table and Insert Records

In [5]:
# SQL query for Bookings table::
create_bookings_table = """
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_bookings_table)
print("Bookings table is created.\n")

# *******************************************************#
# Insert query to populate "Bookings" table:
# *******************************************************#
insert_bookings = """
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Bookings table is created.

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

Create Orders Table and Insert Records

In [6]:
#  SQL query for Orders table:
create_orders_table = """
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

# *******************************************************#
# Insert query to populate "Orders" table is:
# *******************************************************#
insert_orders = """
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Orders table is created.

Inserting data in Orders table.
Total number of rows in Orders table: 5

Create Employees Table and Insert Records

In [7]:
#  SQL query for  Employees table:
create_employees_table = """
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

# Create Employees table
cursor.execute(create_employees_table)

# *******************************************************#
# Insert query to populate "Employees" table:
# *******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""


print("Inserting data in the Employees table.")
# Populate Employees table
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database
connection.commit()

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

Create Stored Procedures

In [14]:
# Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors
dbconfig={"database" : "little_lemon", "user" : "root", "password" : ""}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a", pool_size = 2, **dbconfig) #default is 5
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [15]:
# Obtain a connection from pool_a
print("Getting a connection from pool_a.")
connection_pool_a = pool.get_connection()

# Create a cursor object to communicate with the database
print("Creating a cursor object.")
cursor = connection_pool_a.cursor()

Getting a connection from pool_a.
Creating a cursor object.

In [16]:
#Create PeakHours SP
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
stored_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
  SELECT HOUR(BookingSlot) AS HOUR,
  COUNT(HOUR(BookingSlot)) AS NUM_OF_BOOKINGS
  FROM Bookings
  GROUP BY HOUR(BookingSlot)
  ORDER BY COUNT(HOUR(BookingSlot)) DESC;
END;
"""

In [17]:
#Execute and call stored procedure
print("Executing the SQL Stored Procedure Query")
cursor.execute(stored_procedure_query)
cursor.callproc("PeakHours")
results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

#Print the names of the columns
print(columns)

#Print data 
for data in dataset:
    print(data)

Executing the SQL Stored Procedure Query
['HOUR', 'NUM_OF_BOOKINGS']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Create GuestStatus stored procedure

In [18]:
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")
sp_query_gs = """
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 
CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
CASE WHEN e.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
     WHEN e.Role = 'Head Chef' THEN 'Ready to serve'
     WHEN e.Role = 'Assistant Chef' THEN 'Preparing Order'
     WHEN e.Role = 'Head Waiter' THEN 'Order served'
        ELSE 'In Queue' END AS Status
FROM Bookings AS b
LEFT JOIN Employees AS e
ON b.EmployeeID = e.EmployeeID;
END;
"""

In [19]:
#Execute GuestStatus stored procedure
print("Executing the SQL Stored Procedure Query")
cursor.execute(sp_query_gs)
cursor.callproc("GuestStatus")
results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

#Print columns.
print(columns)

#Print data.
for data in dataset:
    print(data)

Executing the SQL Stored Procedure Query
['GuestName', 'Status']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [20]:
#Close cursor and connection
cursor.close()
connection.close()

Little Lemon Analysis & Sales Report

In [22]:
#Create & establish connection pool.
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig={"database" : "little_lemon", "user" : "root", "password" : ""}

# Establish a connection pool [pool_name = pool_b] with two connections
try:
    pool = MySQLConnectionPool(pool_name = "pool_b", pool_size = 2, **dbconfig) #default is 5
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)

# Implement error handling using a try-except block in case the connection fails
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [23]:
#Create variable for the info of the 3 guests
guests = [(8, 'Anees', 'Java', '18:00', 6),
    (5, 'Bald', 'Vin', '19:00', 6),
    (12, 'Jay', 'Kon', '19:30', 6)]

In [24]:
#Get connections from the connection pool and insert data for guests 1 & 2
try:
    # -------------------------------------------
    # Get the first two connections from the pool
    conn1 = pool.get_connection()
    conn2 = pool.get_connection()
    # -------------------------------------------

    # Check if either of the connections is None
    if conn1 is None or conn2 is None:
        print("Not enough connections available in the pool.")
    else:
        # Create a cursor for each connection
        cursor1 = conn1.cursor()
        cursor2 = conn2.cursor()

        # Insert data for Guest 1 using cursor1
        query1 = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        cursor1.execute(query1, guests[0])
        conn1.commit()

        # Insert data for Guest 2 using cursor2
        query2 = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        cursor2.execute(query2, guests[1])
        conn2.commit()
        
        print("Data for Guests 1 and 2 inserted successfully.")

except Error as er:
    print("Error:", er)

Data for Guests 1 and 2 inserted successfully.

In [25]:
#Insert data for Guest 3
try:
    # Get a 3rd connection from the pool
    conn3 = pool.get_connection()

    if conn3 is None:
        print("No more connections available.")
    else:
        # Create cursor for connection
        cursor3 = conn3.cursor()

        # Insert data for Guest 3
        query3 = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        cursor3.execute(query3, guests[2])
        conn3.commit()

        # -------------------------------
        # Close database cursor
        cursor3.close()
        # Return connection to the pool
        conn3.close()
        # -------------------------------

        print("Data for Guest 3 inserted successfully.")

except Error as er:
    print("Error:", er)

Error: Failed getting connection; pool exhausted

In [26]:
# Return connection 1 to the pool
conn1.close()

In [27]:
#Attempt to insert data for Guest 3 again
try:
    # Get a 3rd connection from the pool
    conn3 = pool.get_connection()

    if conn3 is None:
        print("No more connections available.")
    else:
        # Create cursor for connection
        cursor3 = conn3.cursor()

        # Insert data for Guest 3
        query3 = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        cursor3.execute(query3, guests[2])
        conn3.commit()

        # -------------------------------
        # Close database cursor
        cursor3.close()
        # Return connection to the pool
        conn3.close()
        # -------------------------------

        print("Data for Guest 3 inserted successfully.")

except Error as er:
    print("Error:", er)

Data for Guest 3 inserted successfully.

In [28]:
# Return connection 2 back to pool
conn2.close()

Create report

In [29]:
#install modules and libraries
!pip3 install tabulate
from tabulate import tabulate
import mysql.connector

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
  WARNING: The script tabulate is installed in '/home/coder/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed tabulate-0.9.0

In [30]:
# Create a connection to the MySQL database
connection = mysql.connector.connect(**dbconfig)
# Create cursor to interact with database
cursor = connection.cursor()

In [32]:
# Query 1: name and EmployeeID of manager
query1 = """
SELECT 
Name, 
EmployeeID
FROM Employees
WHERE Role = 'Manager'
"""
cursor.execute(query1)
result1 = cursor.fetchall()

# Query 2: name and role of the employee who receives highest salary
query2 = """
SELECT 
Name, 
Role
FROM Employees
WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees)
"""
cursor.execute(query2)
result2 = cursor.fetchall()

# Query 3: number of guests booked between 18:00 and 20:00
query3 = """
SELECT COUNT(BookingID) AS guests_booked_between_18_20
FROM Bookings
WHERE HOUR(BookingSlot) BETWEEN 18 AND 20
"""
cursor.execute(query3)
result3 = cursor.fetchall()

# Query 4: full name and BookingID of guests waiting to be seated
query4 = """
SELECT CONCAT(bk.GuestFirstName, " ", bk.GuestLastName) AS full_name, 
bk.BookingID, 
bk.BookingSlot
FROM Bookings AS bk
JOIN Employees AS em
ON bk.EmployeeID = em.EmployeeID
WHERE em.Role = 'Receptionist'
ORDER BY bk.BookingSlot, bk.BookingID;
"""
cursor.execute(query4)
result4 = cursor.fetchall()

In [33]:
#Format and print the results in a table
print("\nQuery 1 - Manager:")
print(tabulate(result1, headers=["Name", "EmployeeID"], tablefmt="pretty"))

print("\nQuery 2 - Highest salary employee:")
print(tabulate(result2, headers=["Name", "Role"], tablefmt="pretty"))

print("\nQuery 3 - Number of guests booked between 18:00 and 20:00:")
print(tabulate(result3, headers=["Guests Booked"], tablefmt="pretty"))

print("\nQuery 4 - Guests waiting to be seated:")
print(tabulate(result4, headers=["Full Name", "BookingID", "BookingSlot"], tablefmt="pretty"))

Query 1 - Manager:
+---------------+------------+
|     Name      | EmployeeID |
+---------------+------------+
| Mario Gollini |     1      |
+---------------+------------+

Query 2 - Highest salary employee:
+---------------+---------+
|     Name      |  Role   |
+---------------+---------+
| Mario Gollini | Manager |
+---------------+---------+

Query 3 - Number of guests booked between 18:00 and 20:00:
+---------------+
| Guests Booked |
+---------------+
|       7       |
+---------------+

Query 4 - Guests waiting to be seated:
+------------+-----------+-------------+
| Full Name  | BookingID | BookingSlot |
+------------+-----------+-------------+
| Anees Java |     7     |  18:00:00   |
|  Bald Vin  |     8     |  19:00:00   |
|  Jay Kon   |     9     |  19:30:00   |
+------------+-----------+-------------+

In [34]:
# Close the cursor
cursor.close()

True

Create store procedure BasicSalesReport

In [35]:
# Create a cursor object
cursor = connection.cursor()

In [36]:
#Drop the procedure if already exists
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")
#Create stored procedure
stored_procedure_query = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
  DECLARE TotalSales DECIMAL(10, 2);
  DECLARE AverageSale DECIMAL(10, 2);
  DECLARE MinimumBill DECIMAL(10, 2);
  DECLARE MaximumBill DECIMAL(10, 2);
 
  SELECT 
  SUM(BillAmount) INTO TotalSales
  FROM Orders;
  
  SELECT 
  AVG(BillAmount) INTO AverageSale
  FROM Orders;
  
  SELECT 
  MIN(BillAmount) INTO MinimumBill
  FROM Orders;
  
  SELECT 
  MAX(BillAmount) INTO MaximumBill 
  FROM Orders;
 
  SELECT TotalSales AS TotalSales, AverageSale AS AverageSale, MinimumBill AS MinimumBill, MaximumBill AS MaximumBill;
END;
"""

In [37]:
#Execute and call stored procedure
print("Creating stored procedure")
cursor.execute(stored_procedure_query)
print("Calling stored procedure")
cursor.callproc("BasicSalesReport")

Creating stored procedure
Calling stored procedure

()

In [38]:
#Fetch results
results = next(cursor.stored_results())
dataset = results.fetchall()

In [39]:
#Print results
print("\nBasic Sales Report (Stored Procedure Result):")
print("\nTotalSales: {:.2f}".format(dataset[0][0]))
print("AverageSale: {:.2f}".format(dataset[0][1]))
print("MinimumBill: {:.2f}".format(dataset[0][2]))
print("MaximumBill: {:.2f}".format(dataset[0][3]))

Basic Sales Report (Stored Procedure Result):

TotalSales: 243.00
AverageSale: 48.60
MinimumBill: 37.00
MaximumBill: 86.00

In [40]:
#Close cursor
cursor.close()

True

In [41]:
# Get a connection from the pool and create buffered cursor
cursor = connection.cursor(buffered=True)

In [44]:
# Combine data from Bookings and Employee tables. 
# Sort records in ascending order. Display info of first three guests. 
query = """
    SELECT 
    bk.BookingSlot,
    CONCAT(bk.GuestFirstName, ' ', bk.GuestLastName) AS Guest_Name,
    CONCAT(em.Name, '[', em.Role, ']') AS 'Assigned_To'
    FROM Bookings AS bk
    LEFT JOIN Employees AS em
    ON bk.EmployeeID = em.EmployeeID
    ORDER BY bk.BookingSlot ASC
    LIMIT 3;
"""

In [45]:
#Execute query and fetch results
cursor.execute(query)
results = cursor.fetchall()

In [46]:
#Create variable for table headers
headers = ["BookingSlot", "Guest_name", "Assigned_to"]

#Create list of rows for table
table_data = []

for row in results:
    booking_slot = str(row[0]) 
    guest_name = row[1]
    assigned_to = row[2]
    table_data.append([booking_slot, guest_name, assigned_to])

#Use tabulate to print results in table
table = tabulate(table_data, headers, tablefmt="pretty")

print(table)

+-------------+------------------+----------------------------+
| BookingSlot |    Guest_name    |        Assigned_to         |
+-------------+------------------+----------------------------+
|  15:00:00   | Vanessa McCarthy | Giorgos Dioudis[Head Chef] |
|  17:30:00   |  Marcos Romero   | Fatma Kaya[Assistant Chef] |
|  18:00:00   |    Anees Java    | John Millar[Receptionist]  |
+-------------+------------------+----------------------------+

In [ ]:
#Return connection back to the pool and close.
cursor.close()
connection.close()